<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
</head>
<body>
  <h2>User Registration</h2>
  <form action="/submit" method="POST" enctype="multipart/form-data">
    <label>Username:</label>
    <input type="text" name="username" value="<%= data.username || '' %>">
    <span style="color:red"><%= errors.username || '' %></span><br>

    <label>Email:</label>
    <input type="email" name="email" value="<%= data.email || '' %>">
    <span style="color:red"><%= errors.email || '' %></span><br>

    <label>Password:</label>
    <input type="password" name="password">
    <span style="color:red"><%= errors.password || '' %></span><br>

    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword">
    <span style="color:red"><%= errors.confirmPassword || '' %></span><br>

    <label>Gender:</label>
    <input type="radio" name="gender" value="Male" <%= data.gender === 'Male' ? 'checked' : '' %>> Male
    <input type="radio" name="gender" value="Female" <%= data.gender === 'Female' ? 'checked' : '' %>> Female
    <span style="color:red"><%= errors.gender || '' %></span><br>

    <label>Hobbies:</label>
    <input type="checkbox" name="hobbies" value="Reading"> Reading
    <input type="checkbox" name="hobbies" value="Traveling"> Traveling
    <input type="checkbox" name="hobbies" value="Gaming"> Gaming
    <span style="color:red"><%= errors.hobbies || '' %></span><br>

    <label>Profile Picture:</label>
    <input type="file" name="profilePic">
    <span style="color:red"><%= errors.profilePic || '' %></span><br>

    <label>Other Pictures:</label>
    <input type="file" name="otherPics" multiple><br><br>

    <button type="submit">Register</button>
  </form>
</body>
</html>